DISCORD_TOKEN=
DISCORD_GUILD_ID=
MONGODB_URI=
MONGODB_DB_NAME=pm_accelerator_rag
MONGODB_COLLECTION_NAME=chunks
GOOGLE_API_KEY=
GROQ_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
API_BASE_URL=http://api:8000
